@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kanit:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Kanit', sans-serif;
  background-color: #f0f0f0;
  color: #444;
  padding-top: 30px;
}